<nav class="navbar">
    <div class="logo">
      <a routerLink="recipesHome" routerLinkActive="active">
        <img src="assets/my-recipes.svg" alt="Recipe App Logo" />
      </a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="recipesHome" routerLinkActive="active">Home</a></li>
        <li><a routerLink="about" routerLinkActive="active">About</a></li>
        <li>
          <a routerLink="recipes" routerLinkActive="active">
            <span class="full-label">Hungry? Search Here</span>
            <span class="short-label">Search</span>
          </a>
        </li>        <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
      </ul>
    <div class="search-bar">
     
    </div>
  </nav>
  