.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent white */
  backdrop-filter: blur(10px); /* smooth blur behind content */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0rem 0rem 2rem;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* subtle separation */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* soft bottom shadow */
}
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .logo img {
    height: 40px;
    width: auto;
  }

  .search-btn{
    height: 30px;
    width: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0rem 5rem 1rem 0rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    font-weight: 1000;
    padding: 5px 5px;
    color: #2E7D32;
    cursor: pointer;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .nav-links li a.active {
    color: rgb(235, 136, 15);
    box-shadow: inset 0 -2px 0 rgb(235, 136, 15); /* tight underline */
    background-color: transparent; /* no background */
    border-radius: 0;
  }
  
  .search-bar {
    display: flex;
    color: #ff5722;
    gap: 5px;
  }
  
  .search-bar input {
    padding: 5px;    
    border-radius: 3px;
    border-color: #ff5722;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none;
  }
  
  .search-bar button {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      flex-direction: column;
      width: 100%;
      gap: 10px;
      margin-top: 10px;
    }
  
    .search-bar {
      margin-top: 10px;
      width: 100%;
    }
  
    .search-bar input {
      width: 70%;
    }
  
    .search-bar button {
      width: 25%;
    }
  }
  